{% extends 'base.html' %}

{% block title %} List of courses {% endblock title %}
{% block content %}
    {% if not user.is_authenticated %}
    <h1>You are not logged in!</h1>
    <h3><a href="{% url 'login' %}">Log In</a></h3>
    {% else %}
    {% for course in course_list %}
      <h2 style= 'margin: 1rem 1rem 1rem 1rem'><a href="{% url 'course_detail' course.id %}">{{ course.title }}</a></h2>
      <p style= 'margin: 1rem 1rem 1rem 1rem'>{{ course.description }}</p>
      <h1> - </h1>
    {% endfor %}
    {% endif %}
{% endblock content %}