{% extends 'base.html' %} 
{% block title %} course Detail {% endblock title %} 
{% block content %}

<div class="card" style="display: inline; width: 40rem; margin: 1rem 1rem 1rem 1rem; text-align: center;">
  <div class="card-body">
    <h1 class="card-title">{{ course.title }}</h1>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ course.startDate }} to {{ course.endDate }}
    </h6>
    <p class="card-text">{{ course.description }}</p>
    {% if course.available and not course in request.user.courses_completed.all %}
    <button><a
      class="btn"
      href="{% url 'change-course' 'subscribe' course.id %}"
      class="card-link"
      >Enroll now</a
    ></button>
    <h4>This course is available</h4>
    {% else %}
    <button><a
    class="btn"
    href="{% url 'change-course' 'unsubscribe' course.id %}"
    class="card-link"
    >Leave Class</a
    ></button>

    <button><a class="btn" href="{% url 'course_complete' %}"> Class Completion Form</a></button>
    {% endif %}
  </div>
</div>
{% endblock content %}
