{% extends 'base.html' %}

{% block content %}

{% if not user.is_authenticated %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to CourseTrack</h1>
      <p class="lead">Renesant's education platform</p>
    </div>
  </div>


<h2 style="margin: 1rem 1rem 1rem 1rem">You are not logged in</h2>
<p style= 'margin: 1rem 1rem 1rem 1rem'><a href="{% url 'login' %}">Log In</a> | <a href="{% url 'signup' %}">Sign Up</a></p>
{% else %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome back, {{ user.first_name }}! </h1>
      <p class="lead">We hope you have a wonderful day.</p>
    </div>
  </div>
<h2 style= 'margin: 1rem 1rem 1rem 1rem'><a href="{% url 'course_list' %}">Our Latest Courses</a></h2>



{% endif %}
{% endblock content %}